bin/
obj/
out/
*.dll
*.exe
*.pdb
*.app

*.db
*.db-shm
*.db-wal

*.user
*.suo
*.userprefs

*.log

.idea/
*.DotSettings.user

.vscode/
.history/
*.code-workspace

.DS_Store
._*
Thumbs.db

**/docker-compose.override.yml
**/docker-compose*.backup

docker-data/
volumes/

wwwroot/swagger/*
!wwwroot/swagger/index.html

/publish/
/dist/

*.env
.env.*